/*
Copyright David Corvoysier 2013
http://www.kaizou.org/
*/

/* Fonts */
@font-face {
	font-family: "Soviet";
	src: url("/fonts/Soviet2.ttf") format("truetype");
}

/* General styling */
html {
	overflow-y: scroll;
}

body { 
	background-color: lightgrey;
	margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
    font-weight: normal;
}

a:link, a:hover, a:visited {
    color: #508B88;
}

/* Banner */
header[role=banner] {
	font: 56px 'Soviet', 'Trebuchet MS', 'Helvetica Neue', Arial, Sans-serif;
	color: black;
	top: 0px;
	width: 100%;
	min-width: 800px;
	background: -webkit-gradient(linear, left top, left bottom, from(darkorange), to(red));
	background: -moz-linear-gradient(top, #FF0000, #FF8C00);
	background: -o-linear-gradient(top, #FF0000, #FF8C00);
	text-align: center;
	z-index:99;
	margin: 0px;
}

header[role=banner] h1{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-moz-margin-before: 0em;
	-moz-margin-after: 0em;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
}

header[role=banner] ul{
	display: inline-block;
	padding-top: 20px;
	margin: 0px;
	list-style: none;
	list-style-image: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
	-moz-margin-before: 0em;
	-moz-margin-after: 0em;
	-moz-margin-start: 0px;
	-moz-margin-end: 0px;
	-moz-padding-start: 0px;
	border-spacing: 0em;
	background-image: url('/images/kaizou.svg');
	background-size: 76px;
	background-repeat: no-repeat;
	background-position: left;
}

header[role=banner] ul li:first-child {
	padding-left: 100px;
}

header[role=banner] ul li {
	display: table-cell;
	padding-left: 20px;
	padding-bottom: 0px;
}

header[role=banner] a{
	color: black;
}

header[role=banner] fieldset{
	border: none;
	display: inherit;
}

.logo {
    width: 76px;
    height: 78px;
}

/* Table of Contents */
.toc {
    display:none;
}

/*
.toc {
    float: right;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #999;
    max-width: 30em;
    border: 1px solid #999999;
    padding-right: 1em;
}

    .toc h1 {
        text-align: center;
        font-size: 100%;
    }
*/

/* Page & Posts title */
header.title {
	background-color: #303030;
	padding: 0.5em;
	padding-top: 0.5em;
}

/* Per-Post pagination */
.page {
	min-width: 50em;
	max-width: 75em;
	background-color: white;
	padding: 1em;
	display: table-cell;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid darkgray;
	border-collapse: collapse;
}

/* When there is a single page */
.page:only-child {
	display: block;
	border: none;
	border-radius: 0px;
	margin: 0px auto;
}

.pages-container {
	overflow-x: scroll;
}

/* main content */
section[role=main] {
    position: relative;
	color: #666;
	min-width: 50em;
}

section[role=main] h1 {
	font-size: 26px;
	margin-top: 10px;
	margin-bottom: 10px;
}

section[role=main] h2 {
	font-size: 20px;
	margin: 10px 0 0 0;
}

ol#posts {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Jekyll pagination */
#pagination {
	list-style: none;
    -moz-padding-start: 0px;
    -webkit-padding-start: 0px;
    height: 20px;
}

#pagination li {
	float: left;
    width: 33.3%;
}
#pagination .previous {
	text-align: left;
}
#pagination .page_number {
	text-align: center;
    margin-right: auto;
}
#pagination .next {
	text-align: right;
}

/* Footer */
footer[role=contentinfo] {
	text-align: center;
	background: -webkit-gradient(linear, left top, left bottom, from(red), to(darkorange));
	background: linear-gradient(top, #FF8C00, #FF0000);
	background: -moz-linear-gradient(top, #FF8C00, #FF0000);
	background: -o-linear-gradient(top, #FF8C00, #FF0000);
	padding: 1em;
}
    footer[role=contentinfo] > ul {
        -moz-padding-start: 0px;
        -webkit-padding-start: 0px;
        list-style: none;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    footer[role=contentinfo] > ul > li {
        display: inline-block;
        width: 150px;
        vertical-align: middle;
    }

.gh-ribbon {
    position: absolute;
    top: 0;
    right: 0;
    width: 149px;
    height: 149px;
    border: 0;
    background-image: url("https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png");
}
