#container {
     width:600px;
     height:500px;
     margin-left: auto;
     margin-right: auto;
/* Children can be absolutely positioned in the container */
     position: relative; 
     border: 1px solid red;
}

#bar {
     width:600px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
}
