/* kaizoumark.css                  */
/* Copyright David Corvoysier 2011 */
/* http://www.kaizou.org           */

#container {
 width:600px;
 height:500px;
 /* Children can be absolutely positioned in the container */
 position: relative; 
 border: 1px solid red;
}

#control {
  width:600px;
  text-align: center;
}



