/* color.css                    */
/* Copyright David Corvoysier 2011 */
/* http://www.kaizou.org           */
			
.box {
  margin: 0px;
  padding: 0px;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
}
