.container {
    text-align:center;
    max-width:1048px;
    margin: auto;
}
.box {
    width:512px;
    height:219px;
    padding: 2px;
}
.container fieldset {
    background-color: silver;
    border-radius: 5px;
}
ul {
    list-style-type:none;
}
ul li {
    display: inline;
}
ul li input {
    display: none;
}
ul li input + label {
    float: left;
    width: 125px;
    padding: 3px;
}
ul li input + label {
    color: CadetBlue;
    background-color: lightgrey;
    border: 1px solid silver;
}
ul li input:checked + label {
    color: DarkCyan;
    background-color: orange;
}
