#playerbox {
    position: relative;
    text-align: center;
}
#player {
    width: 600px;
    height: 340px;
}
#loader {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    color: white;
    background-image: url(imgs/throbber.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 340px;
    display: none;
    text-align: center;
}
.loading #loader {
    display: block;
}
video {
    display: none
}
#credits {
    text-align: center;
}
